<<<<<<< HEAD
<h1>Home</h1>
<p>Welcome to the home of <%= @owner.name %></p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday</p>
=======
<h1>Hey, there!</h1>
<p>Welcome to the page of <%= @owner.name %>!</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
>>>>>>> b677466d4ac6b524fd842662ea75a3c178a80260
